.accordian_container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.accordian_box {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

.response_box {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    background-color: white;
    margin: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.response{
    padding: 15px;
    background-color: white;
}

.panel {
    padding: 10px;
    display: none;
    background-color: lightgrey;
    overflow: hidden;
    display: none;
    opacity: 0;
}

.accordion {
    margin-top: 5px;
    background-color: #002244;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 15px;
    color: white;
}

.accordion{
    font-size: 2vw;
}

.accordion:after {
    content: '\21E2';
    color: grey;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\21E8";
}

h2.title {
    color:#002244;
    font-size: 2.5vw;
    text-align: center;
}

h2.subtitle {
    color:#002244;
    font-size: 2vw;
    text-align: center;
}

h2.quote {
    color:#002244;
    font-size: 1.5vw;
    text-align: center;
}

h2.arabic {
    color:#002244;
    font-size: 3.5vw;
    text-align: center;
}

h2.manuscript {
    line-height: 1;
    color:#002244;
    font-size: 1.5vw;
    text-align: center;
}

h2.link {
    color:darkblue;
    font-size: 1.5vw;
    text-align: center;
}

h2.scripture {
    color:black;
    font-size: 2vw;
    text-align: center;
}