html {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #052d56;
  overflow-x: hidden;
  margin: 0px;
}

.small_divide {
  height: 50px;
}

.medium_divide {
  height: 100px;
}

.large_divide {
  height: 200px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 5vw;
  font-weight: 500;
  text-align: center
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  text-align: center
}

h3 {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 500;
  text-align: center
}

h1.video-title {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email_tag{
  font-size: 3vw;
}

.full_video_container {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.center_video_container {
  margin-left: 15%;
  margin-right: 15%;
}

.center_video_container .center_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right_video_container {
  margin-left: 5%;
  margin-right: 5%;
}

.right_video_container .right_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.center_text {
  margin-left: 15vw;
  margin-right: 15vw;
}

.center_text_scripture {
  margin-left: 25vw;
  margin-right: 25vw;
}

.text_scripture{
  color: rgb(163, 163, 163);
}

.center_container {
  position: relative;
  text-align: center;
}

.link_button {
  background-color: #b5cab6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  margin-top: 20px;
  /* Adjust this as needed */
}

.link_button:hover{
  background-color: #99cc9b;
}

.construction_image{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 7vw;
    font-weight: 500;
    text-align: center
  }
  
  h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    text-align: center
  }
  
  h3 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center
  }

  h1.video-title {
    font-size: 5vw;
    margin-left: 5%;
    margin-right: 5%;
  }

  .full_video_container {
    position: block;
    margin-left: 0;
    margin-right: 0;
  }

  .center_video_container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .right_video_container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .center_text {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .center_text_scripture {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .link_button {
    font-size: 5vw;
  }

  .email_tag{
    font-size: 4vw;
  }
}