body {
    background-color: #052d56;
    overflow: hidden;
}

nav {
    height: 8vh;
}

.container_title {
    margin-top: 50px;
    color: white;
    font-size: 50px;
    text-align: center;
}

.moble_container{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile{
        display: grid;
    }

    .desktop{
        display: none;
    }


}
