.main_screen_container {
    position: relative;
    height: 77vh;
    overflow: hidden;
    background-color: #052d56;
}

.main_side_nav {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
}

.main_side_nav:hover {
    opacity: 0.1;
}

.main_side_nav_right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.main_side_nav_left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
}

.main_slider {
    position: relative;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    cursor: all-scroll;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_slider.animation {
    transition: transform 750ms ease-in-out;
}

.main_slider.animation .main_slide_darkbg {
    transition: transform 750ms ease-in-out;
}

.main_slider.animation .slide_letter {
    transition: transform 750ms ease-in-out;
}

.main_slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main_slide_1 {
    left: 0%;
}

.main_slide_2 {
    left: 100%;
}

.main_slide_3 {
    left: 200%;
}

.main_slide_4 {
    left: 300%;
}

.main_slide_5 {
    left: 400%;
}

.main_slide_darkbg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
}

.main_title_container{
    transform: translate3d(0, 0, 0);
    opacity: 0.7;
    -webkit-text-fill-color: white !important;
    background-clip: text !important;
    font-size: 10vw;
    z-index: 2;
    text-align: center;
    transition: opacity 0.5s ease;
}

.main_title_container:hover{
    opacity: 1;
}

.main_slide_title{
    font-weight: 800;
    font-size: 10vw;
    color: white;
    margin-bottom: -5vw;
}

.main_slide_subtitle {
    font-weight: 700;
    font-size: 6vw;
    display: inline-block;
}

.main_slide_subtitle_small {
    font-size: 3vw;
    display: inline-block;
}

.main_slide_1_darkbg:after, .main_slide_2_darkbg:after, .main_slide_3_darkbg:after, .main_slide_4_darkbg:after, .main_slide_5_darkbg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39);
}
.main_slide_1_darkbg {
    left: 0%;
    background: url('../Images/main/explore.jpg') center center no-repeat;
}
.main_slide_1_darkbg:after {
    opacity: .45;
}
.main_slide_2_darkbg {
    left: -50%;
    background: url('../Images/main/seeker.jpg') center center no-repeat;
}
.main_slide_2_darkbg:after {
    opacity: .40;
}
.main_slide_3_darkbg {
    left: -100%;
    background: url('../Images/main/web.jpg') center center no-repeat;
}
.main_slide_3_darkbg:after {
    opacity: .35;
}
.main_slide_4_darkbg {
    left: -150%;
    background: url('../Images/main/Literature.jpg') center center no-repeat;   
}
.main_slide_4_darkbg:after {
    opacity: .45;
}
.main_slide_5_darkbg {
    left: -200%;
    background: url('../Images/main/religion.jpg') center center no-repeat;
}
.main_slide_5_darkbg:after {
    opacity: .45;
}
.main_slide_1_darkbg, .main_slide_2_darkbg, .main_slide_3_darkbg, .main_slide_4_darkbg, .main_slide_5_darkbg {
    background-size: cover;
    background-position: 0px center, 0px center;
}

.main_navigation_bar {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 10;
}

.main_nav_slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: pointer;
}

.main_nav_slide:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

.main_nav_slide:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: 300ms;
}

.main_nav_slide_1 {
    margin-left: 0;
}

.nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
}

html {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}