
.tv_screen_left {
    height: 500px;
    width: 50vw;
    float: left;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    border-radius: 10px;
    padding-bottom: 500px;
    zoom: 1;
    margin-left: 5vw;
}

.tv_screen_right {
    height: 500px;
    width: 50vw;
    float: right;
    box-sizing: border-box;
    border: 10px solid #ffffff;
    border-radius: 10px;
    padding-bottom: 500px;
    zoom: 1;
    margin-left: 5vw;
}

.headersCol {
    color: white;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.headersCol h2 {
    font-size: 2vw;
    text-align: center;
    margin: 10px 10px;
    /* Optional: Add margin for spacing between h2 elements */
}

.tv_main {
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;
}

.tv_container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.tv_screen_line {
    overflow: hidden;
    display: flex;
}

.tv_screen_slider {
    height: 250px;
    min-width: 12000px;
    box-shadow: inset 200px 0px 50px rgba(0, 0, 0, 0), inset -11680px 0px 50px rgba(0, 0, 0, 0);
}

#tv_screen_1_slider_top {
    background: url('../Images/main/mar_tract_top.jpg') repeat-x;
}

#tv_screen_1_slider_bottom {
    background: url("../Images/main/mar_tract_bottom.jpg") repeat-x;
}

#tv_screen_2_slider_top {
    background: url("../Images/main/mar_rel_top.jpg") repeat-x;
}

#tv_screen_2_slider_bottom {
    background: url("../Images/main/mar_rel_bottom.jpg") repeat-x;
}

.tv_screen_text_background {
    background-color: black;
    opacity: 1;
    font-size: 1.5em;
    color: white;
    text-align: left;
}

h3.tv_screen_text {
    color: white;
    text-align: center;
    position: absolute;
    vertical-align: center;
    top: 50%;
    transform: translate(0%, -50%);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 150px;
}

#Grace:hover,
#Good:hover,
#MentalHealth:hover,
#Identity:hover,
#Abortion:hover,
#Pornography:hover,
#Death:hover,
#GodsName:hover,
#Fear:hover,
#Masculinity:hover,
#Love:hover,
#BornAgain:hover,
#Quran:hover,
#Bereavement:hover,
#Conscience:hover,
#Christian:hover,
#Atheist:hover,
#Islam:hover,
#Roman:hover,
#Mormon:hover,
#Witness:hover,
#Disciple:hover,
#Advent:hover,
#Scientist:hover,
#Unitarian
 {
    opacity: 0.7;
}




.tv_screen_left {
    transform: perspective(900px) rotateY(25deg) scale(0.9) rotateX(-10deg) rotateZ(5deg);
    opacity: 1;
    transition: 0.6s ease transform;
}

.tv_screen_left:hover {
    transform: perspective(900px) rotateY(10deg) scale(0.8) rotateX(-10deg) rotateZ(0deg);
    opacity: 1;
    transition: 1.6s ease transform;
}

.tv_screen_right {
    transform: perspective(900px) rotateY(-25deg) scale(0.9) rotateX(-10deg) rotateZ(-5deg);
    opacity: 1;
    transition: 0.6s ease transform;
}

.tv_screen_right:hover {
    transform: perspective(900px) rotateY(-10deg) scale(0.8) rotateX(-10deg) rotateZ(0deg);
    opacity: 1;
    transition: 1.6s ease transform;
}

.animate_screen_link_size {
    animation: ani_screen_link_size 1s infinite ease-in-out
}

@keyframes ani_screen_link_size {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width:767px) {

    .tv_screen_left,
    .tv_screen_right {
        max-height: 270px
    }

    #tv_screen_1_bottom {
        opacity: 0;
    }

    .tv_screen_left {
        transform: perspective(900px) rotateY(0deg) scale(0.9) rotateX(-20deg) rotateZ(-1deg);
        opacity: 1;
        transition: 0.6s ease transform;
    }

    .tv_screen_left:hover {
        transform: perspective(900px) rotateY(0deg) scale(0.9) rotateX(-20deg) rotateZ(1deg);
        opacity: 1;
        transition: 1.6s ease transform;
    }

    .tv_screen_right {
        transform: perspective(900px) rotateY(0deg) scale(0.9) rotateX(-20deg) rotateZ(1deg);
        opacity: 1;
        transition: 0.6s ease transform;
    }

    .tv_screen_right:hover {
        transform: perspective(900px) rotateY(0deg) scale(0.9) rotateX(-25deg) rotateZ(1deg);
        opacity: 1;
        transition: 1.6s ease transform;
    }

}