
.main {
    transition: all .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    overflow-y: hidden;

    &.hide {
    overflow-y: hidden;
    opacity: .5;
    transition: all .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }
}

.drawer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: calc(100vh - 4em); /* Adjust height to fit the screen minus the height of the drawer header */
    background: black;
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow-y: hidden; /* Enable vertical scrolling when content exceeds the height */
    overflow-x: hidden; /* Hide horizontal scrollbar */

    &.drawer-closed {
        height: 4em;
        transition: height 0.2s cubic-bezier(0.31, 1, 0.85, 1);
    }
    &.drawer-open {
        height: 400px; /* Adjust height to fit 50% of the screen minus the height of the drawer header */
        transition: height 0.3s cubic-bezier(0.31, 1, 0.85, 1);
        box-shadow: 0px 1px 34px 0px rgba(0, 0, 0, 0.21);

        .drawer-header {
            background: #061e36;
            transition: background 0.2s ease;
        }
    }
}

.drawer-header {
    height: 4em;
    background: #061e36;
    transition: background .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the left and right edges */
    padding-right: 10px; /* Adjust padding to leave space for the arrows */
    padding-left: 10px; /* Adjust padding to leave space for the arrows */
}

.drawer-button {
    background: transparent;
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

.up_arrow,
.down_arrow {
    width: 20px;
    margin-left: 5px; /* Add margin to separate the arrow from the button text */
}

.drawer_title {
    color: white;
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
    flex-grow: 1; /* Allow the title to take up remaining space */
}

.drawer-body {
    height: 1000px;
    background: #0c2742;
    padding-top: 20px;
    padding-left: 5%;
}


.sessionButton:hover, .sessionButton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.sessionButton:focus {
    opacity: .8;
}

.sessionButton {
    --color: #ffa260;
    --hover: #e5ff60;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    color: var(--color);
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
    width: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video_chapter{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    border: none;
}

.acc_meditate{
    display: block;
}
