body {
  height: 2500px;
}

.mainhead {
  height: 150px;
}

nav {
  height: 50px;
}

#cover {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mask: url('https://www.biblicalreformation.com/Images/seeking/mask.png');
  mask-size: 1800% 100%;
  background-image: url('../Images/seeking/compass.jpg');
}

:root {
  --color--main: #001b35;
}
.reveal_container{
  position: fixed;
  overflow-x: hidden;
  width: 100%;
}
.big_text {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  padding: 20px;
  color: white;
  position: relative;
  text-align: center
}
.small_text {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 800;
  padding: 20px;
  color: white;
  position: relative;
  text-align: center
}
.smcripture_text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5vw;
  font-weight: 800;
  padding: 20px;
  color: white;
  position: relative;
  text-align: center
}
.text {
  max-width: 600px;
  width: 100%;
  line-height: 24px;
  text-align: center;
  color: #404040;
  padding: 20px;
}
.text.txt-center {
  text-align: center;
}
.text a {
  color: var(--color--main);
}
.has-animation {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
}
.has-animation p, .has-animation img {
  opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
  animation: textHidden 0.1s .6s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 5;
}
.has-animation.animate-in:before {
  background-color: var(--color--main);
}
.has-animation.animate-in:after {
  background-color: color-mix(in oklab, var(--color--main) 40%, black);
  animation-delay: 0.5s;
}
.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR .8s ease;
}
.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR .6s 0.2s ease;
}
.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL .8s ease;
}
.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL .6s 0.2s ease;
}
@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}