.button-area {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.button-area-full {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    align-items: center;
}

.custom-btn {
    display: block;
    width: 100%;
    padding: clamp(0px, 1.5vh, 16px) 0;
    background-color: #3a3900;
    border-radius: 50px;
    border: 5px solid white;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.switch-btn {
    position: absolute;
    left: 35vw;
    bottom: 3vh;
    width: 30vw;
    padding: clamp(0px, 1.5vh, 12px) 0;
    text-align: center;
    background: #222;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.video-card {
    width: 80%;
    padding: 1.2vh;
    background-color: rgba(58, 57, 0, 0.5);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-card.current {
    background-color: #3a3900;
    color: yellow;
}

.video-card.next {
    background-color: rgba(58, 57, 0, 0.7);
}

.connect_btn {
    width: 60%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: yellow;
    color: black;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}

.connect_btn:hover {
    background: yellowgreen;
}

.connect_icon {
    font-size: 30px;
}

@media (max-width: 700px) {

    /* BUTTON AREA = 70% height */
    .button-area {
        width: 100%;
        height: 56vh;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .button-area-full {
        width: 100%;
        height: 56vh;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .button-container {
        width: 85%;
        gap: 12px;
    }

    .switch-btn {
        left: 10vw;
        bottom: 3vh;
        width: 80vw;
    }

    .video-card {
        width: 85%;
        padding: clamp(0px, 1.2vh, 20px) 0;
    }
}