#play_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#play_button img{
    height: 150px;
    width: 150px;
}        

#video_tract{
    width: 100%;
    max-height: 60vh;
}

nav {
    height: 8vh;
}

.container_title {
    margin-top: 50px;
    color: white;
    font-size: 50px;
    text-align: center;
}

.moble_container{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile{
        display: grid;
    }

    .desktop{
        display: none;
    }


}
