
.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile{
        display: grid;
    }

    .desktop{
        display: none;
    }


}
