/* CONTENT BOXES */
.content-section {
    width: 80%;
    max-width: 900px;
    background: #3a3900;
    border: 3px solid white;
    border-radius: 14px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: white;
    white-space: pre-line;
}

.content-section-centre {
    width: 80%;
    max-width: 700px;
    background: #3a3900;
    border: 3px solid white;
    border-radius: 14px;
    padding: 20px;
    margin: auto;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: white;
    white-space: pre-line;
}

.content-title {
    font-size: 1.4rem;
    color: yellow;
    font-weight: bold;
    margin-bottom: 12px;
}

.content-text {
    font-size: 1.1rem;
    line-height: 1.45;
}

.content-space {
    height: 30px;
}